@media (max-width: 1024px) {
    .course-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer .footer-col3 {
        grid-column: span 2;
    }
}

@media (max-width: 970px) {
    .nav-link {
        display: none !important;
    }

    .nav-bar .nav-bar-btn .toggle-menu {
        display: inline;
    }

    .benefit-section .benefit-boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .testimonial-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .course-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        padding-inline: 5% !important;
    }
}

@media (max-width: 500px) {

    .header-section .topbar-section p {
        font-size: 12px;
    }

    .nav-bar {
        padding: 20px 0;
    }

    .nav-bar .nav-bar-nav .nav-bar-logo {
        width: 75px;
        overflow: hidden;
    }

    .hero-section h3 {
        font-size: 16px;
    }


    .hero-section .hero-box {
        transform: scale(0.9);
    }

    .hero-header {
        font-size: 18px;
        text-align: center;
    }

    .logo-section {
        flex-wrap: wrap !important;
    }

    .logo-section .logo-box {
        height: 45px;
        width: 120px;
    }

    .video-section .play-vid-icon::before {
        width: 65px;
        height: 65px;
    }

    .video-section .play-vid-icon {
        width: 55px;
        height: 55px;
    }

    .video-section .play-vid-icon svg {
        width: 30px;
    }

    .benefit-section .benefit-header .benefit-text p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .benefit-section .benefit-boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    .benefit-section .benefit-boxes .benefit-box:nth-child(4),
    .benefit-box:nth-child(5),
    .benefit-box:nth-child(6) {
        display: none;
    }

    .course-section .course-header .course-text p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .course-card {
        padding: 20px;
    }

    .course-card:nth-child(4),
    .course-card:nth-child(5),
    .course-card:nth-child(6) {
        display: none;
    }

    .course-card .course-img {
        height: 180px;
    }

    .course-card .course-info-head {
        font-size: 12px;
    }

    .course-card .course-info-body h2 {
        font-size: 20px;
    }

    .course-card .course-info-body p {
        font-size: 15px;
    }

    .testimonial-text p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .testimonial-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial-card:nth-child(3),
    .testimonial-card:nth-child(4),
    .testimonial-card:nth-child(6) {
        display: none;
    }

    .faqs {
        padding-block: 20px;
        padding-inline: 10px;
        grid-template-columns: 1fr;
    }

    .faqs-message h1 {
        font-size: 30px;
    }

    .faqs .faqs-col2 .faqs-item .faqs-head {
        font-size: 18px;
    }

    .faqs .faqs-col2 .faqs-item .faqs-content {
        font-size: 15px;
    }

    .footer {
        grid-template-columns: 1fr !important;
        gap: 35px;
    }

    .footer .footer-col2 div {
        justify-content: start;
    }

    .footer .footer-col3 {
        grid-column: span 1;
    }
}